@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
    <p class="lead">Welcome to Student Management System. You can create batch, course and register students.</p>
</div>

